body{
  background-image: url("../images/fondo7.jpg");
}

#MenuPrincipal{
   /*background-image: url("../images/Banner2.jpg");*/
  background: transparent !important;
}

#busqueda{
  background: transparent !important;
}

.card{
  box-shadow: 5px 5px 10px black;
  background: transparent;
}

#cajaBoton{
  padding: 15px 15px 15px 15px;
}

#cerrarModal {
  border: none;
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  padding: 0;
  font-size: 2.5em;
  cursor: pointer;
  line-height: 1;
  color: #888;
  outline: none;
}

#cerrarModal:hover{
 color:#333;
}

#ventanaModal {
  align-content: center;
  max-width: 16rem; 
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 5);
  position: relative;
  /* Efecto de apertura (animación) */
  /*animation: aparecer 0.8s ease-out;
  /*transform-origin: center; /* Define el punto de origen para la transformación */
}

.cuerpoModal{
  padding: 0px;
  align-content: center;
}
.imagenModal{
 box-shadow: 0px 0px 10px black;
 border-radius: 10px;
 padding: 1px;
 /*transform: scale(1);*/
}

dialog::backdrop {
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);  
  filter: blur(5px); /* Intenta aplicar un desenfoque */
}



.navbar.bg-body-tertiary {
  background-color: transparent !important;  
}
.navbar .container-fluid {
  background-color: transparent !important;
}
.navbar .container-fluid .d-flex {
  background-color: transparent !important;
}
#busqueda.form-control {
  color: black; 
}

#menuEstados{
  background-color: transparent !important;
}

#MenuFiltrado, #ElementoEstadoVivo, #ElementoEstadoMuerto, #ElementoEstadoDesconocido{
  background-color: transparent !important;
  border: none;
}

#ElementoGeneroFemenino, #ElementoGeneroMasculino, #ElementoGeneroSinGenero, #ElementoGeneroDesconocido{
  background-color: transparent !important;
  border: none;
}

